body {
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 230, 230);
}
.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
/* container-form */
.container-form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  margin: 0% 5%;
  padding: 2% 5%;
}
.box {
  width: 50px;
  height: 36px;
  background-color: rgb(59, 88, 161);
  border-radius: 5px;
}
.rgbcontent {
  width: 350px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.rgbform {
  display: flex;
  flex-wrap: nowrap;
}
.form-group {
  margin: 30px;
}
.hexbox {
  width: 120px;
  height: 120px;
  background-color: rgb(255, 107, 70);
}
/* .container-slider */
.container-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgb(128, 128, 128);
  margin: 3%;
  border-radius: 5px;
  padding: 1% 4%;
}
.slider-range-value {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 510px;
  height: 200px;
  margin: 5%;
}
.slider {
  -webkit-appearance: none;
  width: 400px;
  height: 20px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-left: 35px;;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 25px;
  background: rgb(175, 76, 76);
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
.slider-value {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}
